@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf);
}

body {
  font-family: "Poppins-Regular", serif;
  background-color: #dce0e4;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}


#projectDetail {
  background-color: rgb(238, 238, 238);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cont {
  width: 100%;

}
.main-cont h2 {
  text-align: center;
}

.up-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-cont {
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.title-info{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}
.tech{
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.time-info{
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  color: rgb(146, 145, 145);
}
.icon-time{
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}
.flex-cont .image-content {
  width: 55%;
  height: 400px;
  object-fit: cover;
}

.info-cont {
  margin-left: 10px;
  width: 40%;
  display: block;
}

.img-cont {
  display: grid;
  grid-template-columns: 200px 200px;
  margin-top: 10px;
  margin-bottom: 1rem;
}
.img-cont img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.img-cont p {
  font-size: 18px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}


.content-detail{
  margin: auto;
  width: 88%;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 741px) {

.flex-cont{
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.image-content{
  width: 100%;
}
.content-detail{
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.img-cont {

  grid-template-columns: 1fr 1fr;

}
}
