@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
  }
  
  body {
    font-family: "Poppins-Regular", serif;
    background-color:white;
    margin: 0;
    padding: 0;
  }
  h1{
    padding: 30px;
    text-align: center;
  }
  .testimonials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial{
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 5px gainsboro;
  }
  .testimonial img{
    padding-top: 20px;
    margin: auto;
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
  .testimonial p:nth-child(2){
    padding-left: 20px;
    text-align: start;
    margin: 20px 0px;
  }
  .testimonial p:nth-child(3){
    text-align: end;
    margin: 10px 0px 30px 0px;
    padding-right: 20px;
    font-weight: 700;
  }
  @media only screen and (max-width :741px){
    .testimonials{
        flex-direction: column;
        align-items: start;
      }
      .testimonial{
        width: 300px;
        margin-bottom: 20px;
      }
  }