@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf);
}

body {
  font-family: "Poppins-Regular", serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 30px;
  text-align: center;
}
.container {
  width: 100%;
  padding-top: 20px;
  margin: auto;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
 
}

.container .testimonials {
  gap: 30px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  max-width: 1200px; 
}


.testimonial {
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 5px gainsboro;
}
.testimonial img {
  padding-top: 20px;
  margin: auto;
  width: 90%;
  height: 200px;
  object-fit: cover;
}
.testimonial p:nth-child(2) {
  padding-left: 20px;
  text-align: start;
  margin: 20px 0px;
}
.testimonial p:nth-child(3) {
  text-align: end;
  margin: 10px 0px 30px 0px;
  padding-right: 20px;
  font-weight: 700;
}

.cont-rating {
  width: 100%;
}
.cont-rating .main-cont-rating {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cont-rating .main-cont-rating .rating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cont-rating .main-cont-rating .rating .rating-btn {
  cursor: pointer;
  font-size: 20px;
  width: 70px;
  height: 40px;
  color: white;
  background-color: rgb(255, 115, 0);
  border: 2px;
  box-shadow: 0px 0px 1px 1px rgb(168, 161, 161);
}

/* @media only screen and (max-width: 741px) {
  .testimonials {
    flex-direction: column;
    align-items: start;
  }
  .testimonial {
    width: 300px;
    margin-bottom: 20px;
  }
} */
